<div class="toolbar">
    <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" (click)="this.toggleBold()" [ngClass]="{'modifier-active': this.isModActive(this.mods.Bold)}">
            <path d="M6 4h8a4 4 0 0 1 4 4 4 4 0 0 1-4 4H6z"></path>
            <path d="M6 12h9a4 4 0 0 1 4 4 4 4 0 0 1-4 4H6z"></path>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" (click)="this.toggleItalic()" [ngClass]="{'modifier-active': this.isModActive(this.mods.Italic)}">
            <path d="M19 4h-9M14 20H5M14.7 4.7L9.2 19.4"/>
        </svg>
</div>

<!-- https://iconsvg.xyz/ @ size: 16-->